.event {
   margin-left: auto;
   margin-right: auto;
   margin-top: 8rem;
   max-width: 1200px;
   position: relative;

   &__imgWrapper {
      margin-left: auto;
      margin-right: auto;
      width: 1000px;
   }

   &__left {
      max-width: 500px;
      margin-top: -700px;
      position: absolute;

      &--new {
         text-shadow: 0px 0px 25px $primary;
         font-size: 60px;
         font-family: $font-family-1;
      }

      &--turn {
         font-size: 90px;
         letter-spacing: 2px;
         font-family: $font-family-2;
         text-shadow: 0px 0px 25px white;
      }

      &--script {
         margin-top: 30px;
         //  font-size: 0;
         color: rgb(201, 192, 192);
         letter-spacing: 1px;
      }
   }

   &__link {
      margin-top: 40px;
      display: flex;
      column-gap: 15px;
      align-items: center;

      &--cta {
         font-size: 30px;
         text-transform: uppercase;
         font-family: $font-family-2;
         color: white;
         letter-spacing: 1.5px;
      }
   }

   &__img {
      width: 70px;
   }
}
